@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}


body {
    /*background-color: #d6d5d7;*/
    /*background-image: url("./assets/Profiel foto.jpg");*/
    /*background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),*/
    /*url("./assets/Profiel foto.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-attachment: fixed;*/
    /*height: 100 svh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.navbar {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 0 24px;*/
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid black;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar li {

    font-size: 20px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    list-style: none;
}


.nav-home {
    font-size: 60px;
    background-color: rgba(255, 255, 255, 0.0);
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    padding: 0 10px 2px 40px;
    /*align-items: flex-start;*/
}

/*.nav-home:hover {*/
/*    background-color: rgba(255, 255, 255, 0.4);*/

/*}*/

.nav-link {
    transition: 0.7s ease;
    padding: 10px 10px;
}

.nav-menu li {
    background-color: rgba(255, 255, 255, 0.0);
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    padding: 0 40px 2px 0;
}

/*.nav-menu li:hover {*/
/*    background-color: rgba(255, 255, 255, 0.4);*/
/*}*/

.hamburger {
    display: none;
    cursor: pointer;
    margin: 0 40px;
}

.bar {
    display: block;
    border-radius: 2px;
    width: 40px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.3);


}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100vh;
    text-align: center;
    /*width: 800px;*/
    /*border: 1px solid black;*/
    width: 100%;
    max-height: 100vh;
}

video {
    width: 100%;
    height: 100vh;
}

/*background-color: #9ba27a;*/


.home img {
    width: 700px;
}

.work {
    background-color: white;
    /*background-color: white;*/
    padding: 100px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*align-items: center;*/
    flex-wrap: wrap;
    flex-basis: 100vh;
    text-align: center;
    width: 100vw;
    /*border: 1px solid black;*/
}

.namens {
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.work img {
    width: 350px;
    opacity: 0.5;
}

article {
    position: relative;
    color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease-in-out;
}

article p {
    position: absolute;
    top: 10px;
    right: 10px;
}

article:hover {
    transition: all 0.8s ease-in-out;
    color: rgba(255, 255, 255, 1);
}

.work img:hover {
    opacity: 1;
    cursor: pointer;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 100vh;
    width: 800px;
    text-align: center;
    padding: 0 50px;
    /*border: 1px solid black;*/

}


.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 100vh;
    width: 800px;
    text-align: center;
    padding: 0 50px;
    /*border: 1px solid black;*/

}

footer {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer a {
    margin: 0 40px;
    color: black;
}

.fa-brands {
    font-size: 60px;
    transition: all 0.3s ease-in-out;

}

.fa-brands:hover {
    transition: all 0.3s ease-in-out;
    font-size: 70px;
}

@media (max-width: 1081px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        padding: 150px 0;
        position: fixed;
        right: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: 1px solid black;
        text-align: center;
        transition: 0.3s;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .navbar {
        background-color: rgba(255, 255, 255, 0.8);
    }

    footer {
        background-color: rgba(255, 255, 255, 0.8);

    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        right: 0;
    }

    .nav-item a {
        font-size: 50px;
    }

    .home img {
        width: 500px;
    }

    .work img {
        width: 500px;
    }
}


/*///////////////////////////////////////////*/



