@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    position: relative;
    /*background-image: url("./assets/Profiel foto.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-attachment: fixed;*/
    height: 100vh;
    background-color: indianred;
}


.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: rgba(255, 255, 255, 0.8);
}

.navbar a {
    text-decoration: none;
    color: cornflowerblue;
    font-size: 50px;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: cornflowerblue;
    font-size: 30px;
}

.nav-home {
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.0);
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    padding: 0 10px 2px 10px;
}

.nav-home:hover {
    background-color: rgba(255, 255, 255, 0.4);

}

.nav-link {
    transition: 0.7s ease;
    padding: 10px 10px;
}

.nav-menu li {
    background-color: rgba(255, 255, 255, 0.0);
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    padding: 0 0 2px 0;
}

.nav-menu li:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    border-radius: 2px;
    width: 40px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: cornflowerblue;
}

@media (max-width: 1268px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        padding: 150px 0;
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        right: 0;
    }
    .nav-item a {
        font-size: 50px;

    }

}

footer {
    position: absolute;
    bottom: 60px;
    right: 20px;
}

footer a {
    font-size: 40px;
    color: cornflowerblue;
}
